# ==========================================
# 🛑 SEGURIDAD Y CLAVES (CRÍTICO)
# ==========================================
local.properties
*.jks
*.keystore
key.properties
google-services.json
GoogleService-Info.plist
secrets.properties

# ==========================================
# 🏗️ COMPILACIÓN KMP / ANDROID (BUILD)
# ==========================================
.gradle/
build/
*/build/
**/build/
.kotlin/
captures/
.externalNativeBuild/
.cxx/

# ==========================================
# 🍏 IOS / XCODE
# ==========================================
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/

# Mantener la estructura del proyecto Xcode pero ignorar archivos de usuario
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/

# ==========================================
# 💻 ENTORNOS DE DESARROLLO (IDE)
# ==========================================
.idea/
*.iml
*.iws
.vscode/

# ==========================================
# 🍎 SISTEMAS OPERATIVOS
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db